<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>273280905907-n4tr11frrv3j95im4h2urk7ukk6383hm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.273280905907-n4tr11frrv3j95im4h2urk7ukk6383hm</string>
	<key>API_KEY</key>
	<string>AIzaSyBLDoY8X6gUWzbWiIBaaGZC8IY-ZI3Cid8</string>
	<key>GCM_SENDER_ID</key>
	<string>273280905907</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dantown.dantownTest</string>
	<key>PROJECT_ID</key>
	<string>dantown-test-to-do</string>
	<key>STORAGE_BUCKET</key>
	<string>dantown-test-to-do.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:273280905907:ios:9da72ac404c8e978f1f6c6</string>
</dict>
</plist>